body
{
	background-color: black;
}

h2
{
	margin: 20px;
}


.button
{
	margin: 390px;
	text-decoration: none ;
	font-size: 25px;
	color: Red;
	padding: 20px 50px;
	border: 3px solid red ;
	position: relative;
}

.button::before,
.button::after{
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	border: inherit;
	transition: all .6s;

}

.button::before{
	top: -15px;
	left: -15px;
	border-width: 3px 0 0 3px;
}

.button::after{
	bottom: -15px;
	right: -15px;
	border-width: 0 3px 3px 0;
}

.button:hover::before,
.button:hover::after{
	width: calc(100% + 27px);
	height: calc(100% + 27px);
}





.button2
{
	margin: 700px;
	text-decoration: none ;
	font-size: 25px;
	color: Red;
	padding: 20px 50px;
	border: 3px solid red ;
	position: relative;
}

.button2::before,
.button2::after{
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	border: inherit;
	transition: all .6s;

}

.button2::before{
	top: -15px;
	left: -15px;
	border-width: 3px 0 0 3px;
}

.button2::after{
	bottom: -15px;
	right: -15px;
	border-width: 0 3px 3px 0;
}

.button2:hover::before,
.button2:hover::after{
	width: calc(100% + 27px);
	height: calc(100% + 27px);
}

.button2
{
	margin: 40px;
}

h3
{
	color: white;
	text-align: center;
}




